<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @phone.model %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @phone.brand %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @phone.manufacturer %>
</p>

<p>
  <strong>Chip type:</strong>
  <%= @phone.chip_type %>
</p>

<p>
  <strong>So version:</strong>
  <%= @phone.so_version %>
</p>

<p>
  <strong>Screen type:</strong>
  <%= @phone.screen_type %>
</p>

<p>
  <strong>Display size:</strong>
  <%= @phone.display_size %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @phone.resolution %>
</p>

<p>
  <strong>Back cam:</strong>
  <%= @phone.back_cam %>
</p>

<p>
  <strong>Front cam:</strong>
  <%= @phone.front_cam %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @phone.ram %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @phone.processor %>
</p>

<p>
  <strong>Memory int:</strong>
  <%= @phone.memory_int %>
</p>

<p>
  <strong>Color:</strong>
  <%= @phone.color %>
</p>

<p>
  <strong>Modaly:</strong>
  <%= @phone.modaly %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @phone.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @phone.price %>
</p>

<p>
  <strong>Phone arquivos:</strong>
  <%= @phone.phone_arquivos %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
