<div class="card-header with-border">
  <div class="form-group">
    <%= simple_form_for @phone_arquivo, multipart: true do |f| %>
      <div class='row'>
        <%= f.input :file, as: :file, label: (@phone_arquivo.file? ? 'Arquivo já selecionado' : 'Arquivo'), wrapper_html: {class: "col-sm-3"} %>
        <%= f.input :ano, as: :select, collection: (2020..Date.today.year + 1).to_a.collect {|d| [d, d]}, placeholder: 'Ano', wrapper_html: {class: "col-sm-2"} %>
        <%= f.input :mes, placeholder: 'Mês', wrapper_html: {class: "col-sm-3"} %>
      </div><p>

    <div class="card-footer">
      <%= link_to 'Cancelar', phone_arquivos_path, class: "btn btn-default" %>
      <%= f.button :submit, class: "btn btn-danger" %>
    </div>
  </div>
</div>
<% end %>
