<tr class="nested-fields">
  <td>
  </td>
  <td>
    <%= f.input :model, label: false %>
  </td>
  <td>
    <%= f.input :brand, label: false %>
  </td>
  <td>
    <%= f.input :manufacturer, label: false %>
  </td>
  <td>
    <%= f.input :chip_type, label: false %>
  </td>
  <td>
    <%= f.input :so_version, label: false %>
  </td>
  <td>
    <%= f.input :screen_type, label: false %>
  </td>
  <td>
    <%= f.input :display_size, label: false %>
  </td>
  <td>
    <%= f.input :resolution, label: false %>
  </td>
  <td>
    <%= f.input :back_cam, label: false %>
  </td>
  <td>
    <%= f.input :front_cam, label: false %>
  </td>
  <td>
    <%= f.input :ram, label: false %>
  </td>
  <td>
    <%= f.input :processor, label: false %>
  </td>
  <td>
    <%= f.input :memory_int, label: false %>
  </td>
  <td>
    <%= f.input :color, label: false %>
  </td>
  <td>
    <%= f.input :modaly, label: false %>
  </td>
  <td>
    <%= f.input :quantity, label: false %>
  </td>
  <td>
    <%= f.input :price, label: false %>
  </td>
  <td class='text-center'>
    <%= link_to_remove_association f, data: { toggle: 'tooltip', placement: 'top', title: 'Apagar' }  do %>
      <div class="btn btn-danger btn-sm">
        <i class="fa fa-fw fa-times"></i>
      </div>
    <% end %>
  </td>
</tr>
