<% exceptions ||= ['id', 'created_at', 'updated_at', 'deleted_at'] %>

<% if list.empty? %>
Sem dados cadastrados
<% else %>
<table class="table table-striped" >
  <thead>
    <tr>
      <% (list.first.class.column_names - exceptions).each do |column| %>
      <th><%= list.first.class.human_attribute_name(column) %></th>
      <% end %>
      <th width='90px'>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% list.each do |object| %>
    <tr>
      <% (list.first.class.column_names - exceptions).each do |column| %>
      <td>
        <% if object.send(column).class == Date or
          object.send(column).class == DateTime or
          object.send(column).class == ActiveSupport::TimeWithZone or
          object.send(column).class == Time %>
          <%=l object.send(column) %>
          <% else %>
          <%= object.send(column) %>
          <% end %>
      </td>
      <% end %>
      <td>
        <%= render 'shared/action_links', object: object %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <%= will_paginate list, renderer: BootstrapPagination::Rails , :page_links => true%>
  </div>
</div>
<% end %>
